<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MemberMapper">

	<select id="getMember" parameterType="String" resultType="com.smhrd.entity.Member">
		select * from member where memId = #{memId}
	</select>
	
	<insert id="join" parameterType="com.smhrd.entity.Member">
		insert into member(memId, memPassword, memName, memAge, memGender, memEmail, memProfile)
        values(#{memId}, #{memPassword}, #{memName}, #{memAge}, #{memGender}, #{memEmail}, #{memProfile})
	</insert>

	<select id="loging" parameterType="com.smhrd.entity.Member" resultType="com.smhrd.entity.Member">
		select * from member where memId=#{memId} and memPassword=#{memPassword}
	</select>
</mapper>


